html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  transition: .15s;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transform: rotate(5deg);
}

.polaroid:first-child {
  left: 250px;
  top: -50px;
  transform: rotate(-10deg);
}

.polaroid:nth-child(2) {
  z-index: 10;
}

.polaroid:last-child {
  right: 250px;
  top: -50px;
  transform: rotate(20deg);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.polaroid:hover {
  z-index: 1000;
  transform: rotate(0deg);
  box-shadow: 0 0 4px 0 #000;
}

body {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 15em;
}
